*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

p {
    color: rgb(215, 220, 224);
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
a {
    color: rgb(173, 181, 189);
}